@import url("assets/fonts/glyphicons.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    max-width: 100vw;
    font-family: 'Lato', sans-serif;
}

.header,  .header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__info>span{
    padding-bottom: .5rem;
}
.glyphicon {
    color: orange;
}

.header__search{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}
.header__search>input{
    width: 40%;
    border: 1px solid #ccc;
}

.header__search>select{
    border: 1px solid #ccc;
    color: #999;
}

.header__search>button{
    padding: 5px;
    border: none;
    background-color: orange;
}

.header__search .glyphicon-search {
    color: white;
}

.header__social-container{
    float: left;
    width: 100%;
}
.header__social {
    margin-bottom: 15px;
    text-align: center;

}
.header__social li{
    margin: 0 0;
    display: inline-block;
    border-bottom: none;
    list-style-type: none;
}
.header__social li a{
    width: 32px;
    height: 32px;
    display: block;
    /* text-indent: -9999px; */
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}

.header__social li a.header__social-use1{
    background: url('assets/images/img-sp.png') no-repeat -133px -1px ;
}
.header__social li a.header__social-fb{
    background: url('assets/images/img-sp.png') no-repeat 0 0 ;
}
.header__social li a.header__social-twi{
    background: url('assets/images/img-sp.png') no-repeat -33px 0 ;
}
.header__social .header__social-insta{
    background: url('assets/images/img-sp.png') no-repeat -100px 0 ;
}
.header__social .header__social-you{
    background: url('assets/images/img-sp.png') no-repeat -66px 0 ;
}

.header__social::after {
    content: '';
    display: table;
    clear: both;
}

.header__navbar{
    display: none;
}
.header__nav-collapse{
    min-height: 3rem;
    vertical-align: center;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__cart{
    background-color: orange;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
}

.header__nav-collapse span{
    align-self: center;
}
.header__nav .glyphicon-menu-hamburger{
    align-self: center;
    border: 1px solid white;
    padding: 5px;
    color: white;
    border-radius: 15%;
    background-color: black;
}

.header__nav .glyphicon-shopping-cart{
    color: white;
}
.header__nav-collapse:focus-within~.header__navbar {
    display: grid;
    background-color: black;
    place-items: center;    
}

.header__navbar-nav *{
    margin-bottom: 5px;
    color: white;
    list-style: none;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 2vw;
}

.header__navbar-nav-link{
    border-bottom: 1px solid orange;
    text-decoration: none;
}

.header__navbar-nav-item-extins{
    display: none;
}

.header__nav-collapse:focus-within~.header__navbar >.header__navbar-nav:focus-within .header__navbar-nav-item-extins{
    display: grid;
}

.header__navbar-nav> li:last-child{ 
    display: none
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    overflow: hidden;
    max-width: 100%;
    height: 10rem;
}
main{
    display: flex;
    flex-direction: column;

}
.text{
    text-align: center;
    padding-top: 1rem;
    font-size: 5vw;
}
.uppercase{
    text-transform: uppercase;
}
h1>span{
    color: orange;
}
.offers >*  ,.offers__promo-text >*{
    margin-bottom: 1rem;
}
.offers__promo{
    position: relative;
    margin: 1rem;
    max-width: 100vw;
}
.offers__promo-bg{
    position: relative;
    max-width: 100%;
    left: 50%;
    transform: translatex(-50%);

}
.offers__promo-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
}
.offers__promo-text.uppercase{
    color: white;
}

.offers__promo-text>button , 
.offers__brand>button, 
.shop__item>button ,
.info-footer button {
    background-color: orange;
    max-width: fit-content;
    position: relative;
    border: none;
    color: white;
    padding: 3%;
}

.shop__item-cart-btn :hover , .shop__item-cart-btn:focus-within{
    outline: orange solid 5px;
    border: 5px solid white;
}


.striketrough {
    text-decoration: line-through;
    font-style: italic;
}
.offers__brand{
    margin: 1rem;
    display: grid;
    place-content:center ;
    border: 1px solid lightgray ;
    padding: 1rem;
}

.offers__brand>*{
    margin: .5rem;
}
.offers__brand>button{
    padding: 3% 10%;
}
.offers__special{
    display: none;
}

.categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;

}
.categories a{
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: gray;
    font-weight: 500;
    text-transform: capitalize;
}

.categories a:hover{
    border-bottom: 1px solid orange;
    color: black;
    font-weight: 600;
}

.shop__item{
    display: grid;
    place-items: center;
    margin: 1rem;
    padding-bottom: .5rem;
    box-shadow: 0px 0px 3px 3px #ccc;
}

.shop__item>*{
    margin-bottom: 1rem;
}

.shop__item-type{
    justify-self: end;
    background-color: #888;
    color: white;
    padding: 2px;
}

.shop__item-name{
    color: orange;
}

.shop__item-discount{
    color: #999;
    text-decoration: line-through;
}

.flip-img{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.flip-img__inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;

}

.flip-img:hover .flip-img__inner , .flip-img:focus-within .flip-img__inner {
    transform: rotateY(180deg);
}

.flip-img__front, .flip-img__back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}


.flip-img__back {
    position: relative;
    transform: rotateY(180deg);
}

.qik{
    position: absolute;
    text-align: center;
    top: 70%;
    background-color: black;
    color: white;
    line-height: 3rem;
    width: 100%;
    transform: translateY(100%);
    /* transition: all  3s linear ; */
}

.qik:hover, .qik:focus-within{
    background-color: orange;
    /* transform: translateY(100%);
    transition: all  1.5s linear ; */
}

.visual-footer{
    background: url(assets/images/new4.jpg) no-repeat center ;
    background-size: cover;
    display: grid;
    place-items: center;
    color: white;
    padding: 1.5rem;
}

.visual-footer>*{
    margin-bottom: .8rem;
    text-align: center;
}

.visual-footer>span.glyphicon{
    color: white;
    border: 1px solid orange;
    border-radius: 50%;
    background-color: orange;
    padding: 1rem;
}

.visual-footer :first-child{
    color: orange;
}


.info-footer{
    padding: 1rem;
}

.info-footer>*{
    line-height: 2;
    color: #999;
}

.info-footer>div span:first-child{
    color: black;
    font-size: larger;
    font-weight: 500;
}

.info-footer form{
    display: flex;
}

.info-footer form>input{
    padding: 3%;
    border: 1px solid #999;
}


.info-footer .info-footer__part>p:first-child{
    color: orange;
    font-size: 1.5rem;
}

.info-footer ul{
    list-style: none;
}
.info-footer a{
    text-decoration: none;
    color: #999;
}

.info-footer> .info-footer__part:nth-child(4){
    display: flex;
    flex-direction: column;
}
.info-footer> .info-footer__part:nth-child(4)>*{
    margin-bottom: 5px;
}

.info-footer__part i.glyphicon{
    border: 1px solid #999;
    border-radius: 50%;
    padding: .5rem;
    color: #999;
}

.info-footer> .info-footer__part:nth-child(6){
    text-align: center;
}

@media screen and (min-width: 768px) {

    .header__info{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .header__info >span{
        border: 1px solid lightgray;
        padding: 1rem;
        vertical-align: middle;
    }

    .header__action{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .header__action>*{
        vertical-align: middle;
        align-items: baseline;
    }
    .header__action>form{
        padding-top: 1rem;
    }

    .header__nav-collapse{
        display: none;
    }

    .header__navbar{
        display: flex;
        flex-direction: row;
        background-color: black;

    }

    .header__navbar-nav{
        display: flex;
        background-color: black;
        place-items: center;
        

    }
    .header__navbar-nav>*{
        margin: 0;    
        
    } 
    .header__navbar-nav-link{
        border-bottom: none;
        padding: 10px;
        /* text-align: center;
        vertical-align: middle; */
    }

    #cart{
        display: inline;
        background-color: orange;
        /* vertical-align: middle;
        text-align: center; */
        line-height: 1.5;
    }
    .dropdown{
        float: left;
        overflow: hidden;
    }
    .header__navbar-nav-item-extins.dropdown__content {
        display: none;
        position: absolute;
        background-color: white;
        color: black;
    }
    .dropdown__content .header__navbar-nav-link{
        float: none;
        color: black;
        text-decoration: none;
        text-align: left;
    }

    .dropdown:hover .dropdown__content,
    .dropdown:focus-within .dropdown__content{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .header__navbar-nav-item-extins-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .header__navbar-nav-item-extins-list>li>a{
        color: gray;
        text-decoration: none;
        text-transform: capitalize;
    }

    .text>p{
        font-size: initial;
    }

    .promo__offers{
        display: grid;
        grid-template-rows: repeat(2, auto);
        width: 100vw;
        /* justify-items: center; */
        align-items: center;
        padding-bottom: 1rem ;
        /* justify-content: center; */
    }

    .offers{
        width: 100vw;
        display: grid;
        grid-template-areas: 
            "w l m"
            "w d m";
        align-items: center;
    }

    .w{
        grid-area: w;
        
    }

    .m{
        grid-area: m;
    }

    .l{
        grid-area: l;
    }

    .d{
        grid-area: d;
    }

    .offers__special{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .p{ grid-column: 1;
        grid-row: 1;}
    .o{ grid-column: 2;
        grid-row: 1;}
    .b{ grid-column: 1;
        grid-row: 2;}
    .s{ grid-column: 3;
        grid-row: span 2;
        width: 100%;}
    .c{ grid-column: 2;
        grid-row: 2;
        width: 100%;}
    .phone, .clock, .shoes{
        width: 100%;
        display: block;
        }

    .offers__special-part.uppercase{
        background-color: #fafafa;
        height: 100%;
        width: 100%;
        display: grid;
        align-content: center;
        justify-items: left;
        padding-left: 1rem;
        line-height: 2rem;
    }

    .offers__special-part.uppercase span:nth-child(2){
        color: orange;
        font-size: larger;

    }
        
    .shop{
        display: grid;
        grid-template-columns: repeat(auto-fill,256px);
        justify-content: center;
    }

    .shop__item{
        width: 240px;
    }

    .visual-footer{
        /* grid-template-columns:repeat(3, 1fr);
        grid-template-rows; */
        grid-template-areas:    "title  title   title"
                                "icon1  icon2   icon3"
                                "sbtit1 sbtit2  sbtit3"
                                "text1  text2   text3";
    }
    .visual-footer span:first-child{
        grid-area: title;
    }
    .visual-footer span:nth-child(2){
        grid-area: icon1;
    }
    .visual-footer span:nth-child(5){
        grid-area: icon2;
    }
    .visual-footer span:nth-child(8){
        grid-area: icon3;
    }
    .visual-footer span:nth-child(3){
        grid-area: sbtit1;
    }
    .visual-footer span:nth-child(6){
        grid-area: sbtit2;
    }
    .visual-footer span:nth-child(9){
        grid-area: sbtit3;
    }
    .info-footer{
        display: grid;
        grid-template-areas:    "info  info info"
                                "sup    sup sup"
                                "inf    store   photo"
                                "copy   copy    copy";
    }
    .info-footer>*{
        padding: 1rem;
    }

    .info-footer div:first-child{
        grid-area:info
    }
    .info-footer div:nth-child(2){
        grid-area: sup;
        display: flex;
        justify-content: space-around;
    }
    .info-footer div:last-child{
        grid-area: copy;
        justify-self: center;
    }

}